@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.navmenu {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav {
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
    float: right;
    z-index: 99999;
  }
  .navbar-fixed-top {
    padding-top: 10px;
  }
  .navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand > img {
    max-width: 127px;
    z-index: 9999;
  }
  @media (max-width: 768px) {
    .navbar-brand {
        padding-left: 0px;
    }
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default.color-fill {
    background-color: #fff;
    border-color: transparent;
  }
  .btn-nav {
    background: transparent;
    border: none;
    padding: 15px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 99999;
  }
  @media (max-width: 768px) {
    .btn-nav {
        padding: 15px 0;
    }
  }
  .btn-nav:focus {
    outline: 0;
  }
  .icon-bar {
    display: block;
    margin: 6px 0;
    width: 30px;
    height: 3px;
    background-color: #222;
  }
  .icon-bar.inverted {
    background-color: #fff;
  }
  @media (max-width: 992px) {
    .icon-bar.inverted {
        background-color: #222;
    }
  }
  .opaque {
    background-color: #fff!important;
  }
  .btn-nav:hover .icon-bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #555;
  }
  .nav-content {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    height: 100%;
    z-index: 9;
  }
  .nav-list {
    list-style: none;
    padding: 0;
    position: relative;
  }
  .item-anchor {
    color: #8e44ad;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    padding: 10px;
  }
  .item-anchor:hover,
  .item-anchor:focus {
    color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .item-anchor:hover:after,
  .item-anchor:focus:after {
    width: 100%;
    background: #f7f7f7;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .nav-item {
    font-family: 'Open Sans', sans-serif;
    margin: 10px auto;
    text-align: center;
    color: #222;
  }
  .nav-item a:link,
  .nav-item a:hover,
  .nav-item a:focus {
    color: #222;
  }
  .nav-item a:hover,
  .nav-item a:focus {
    border-bottom: 2px solid #222;
  }
  .animated {
    display: block;
    margin: 0 auto;
  }
  .animated:hover .icon-bar,
  .animated:focus .icon-bar {
    background-color: #fff;
  }
  .animated:focus {
    cursor: pointer;
    z-index: 9999;
  }
  .middle {
    margin: 0 auto;
  }
  .icon-bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
  }
  .animated .icon-bar {
    z-index: 999999;
    background-color: #222!important;
  }
  .animated .top {
    -webkit-transform: translateY(7px) rotateZ(45deg);
    -moz-transform: translateY(7px) rotateZ(45deg);
    -ms-transform: translateY(7px) rotateZ(45deg);
    -o-transform: translateY(7px) rotateZ(45deg);
    transform: translateY(7px) rotateZ(45deg);
  }
  .animated .bottom {
    -webkit-transform: translateY(-11px) rotateZ(-45deg);
    -moz-transform: translateY(-11px) rotateZ(-45deg);
    -ms-transform: translateY(-11px) rotateZ(-45deg);
    -o-transform: translateY(-11px) rotateZ(-45deg);
    transform: translateY(-11px) rotateZ(-45deg);
  }
  .animated .middle {
    width: 0;
  }
  @keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
  }
  @-webkit-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
  }
  @-moz-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
  }
  @-o-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
  }
  .showNav {
    -webkit-animation: showNav 1s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav 1s ease forwards;
  }
  @keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
  }
  @-webkit-keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
  }
  @-moz-keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
  }
  @-o-keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
  }
  .hideNav {
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
  }
  .hidden {
    display: none;
  }

  a {
    color: #8e44ad;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #8e44ad;
    outline: none;
  }
  
  p {
    margin-bottom: 1.5em;
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  
  ::-webkit-selection {
    color: #fff;
    background: #8e44ad;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #8e44ad;
  }
  
  ::selection {
    color: #fff;
    background: #8e44ad;
  }
  
  .navbar-collapse {
    border: none !important;
  }
  
  #fh5co-header {
    position: absolute;
    z-index: 999999;
    width: 100%;
    opacity: 1;
    top: 0;
    float: left;
  }
  #fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
    display: table;
  }
  #fh5co-header #navbar {
    display: table-cell;
    vertical-align: middle;
  }
  #fh5co-header #navbar li {
    width: 16px;
    height: 16px;
    display: block !important;
    margin: 15px 0;
    clear: both;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header #navbar li {
      margin-left: 10px !important;
    }
  }
  #fh5co-header #navbar li a {
    font-family: "Inconsolata", Arial, sans-serif;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 12px;
    height: 12px !important;
    text-indent: -999999px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  #fh5co-header #navbar li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
  }
  #fh5co-header #navbar li a:hover {
    color: #000;
  }
  #fh5co-header #navbar li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  #fh5co-header #navbar li.active {
    width: 16px;
    height: 16px;
    background: #fff;
  }
  #fh5co-header #navbar li.active a {
    background: #000;
    background: none;
  }
  @media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a {
      color: #8e44ad;
    }
  }
  #fh5co-header .navbar-brand {
    float: left;
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding-left: 28px;
    color: #535659;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
  }
  #fh5co-header .navbar-brand:after, #fh5co-header .navbar-brand:before {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    left: -12px;
    margin-left: 0px;
    bottom: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  #fh5co-header .navbar-brand:before {
    left: 0px;
    background: rgba(140, 118, 118, 0.8);
  }
  #fh5co-header .navbar-brand > span {
    color: #8e44ad;
  }
  @media screen and (max-width: 992px) {
    #fh5co-header .navbar-brand {
      padding-left: 55px !important;
      padding-right: 0 !important;
    }
    #fh5co-header .navbar-brand:after, #fh5co-header .navbar-brand:before {
      margin-left: 25px;
    }
  }
  #fh5co-header.navbar-fixed-top {
    position: fixed !important;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    top: 0;
  }
  #fh5co-header.navbar-fixed-top .navbar-brand {
    color: #535659;
  }
  #fh5co-header.navbar-fixed-top #navbar li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fh5co-header.navbar-fixed-top #navbar li a:hover {
    color: #8e44ad;
  }
  @media screen and (max-width: 992px) {
    #fh5co-header.navbar-fixed-top #navbar li a {
      font-size: 20px;
    }
  }
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #8e44ad !important;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a {
      color: #8e44ad !important;
    }
  }
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #8e44ad;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
      background-color: transparent;
    }
  }
  #fh5co-header .navbar-default {
    border: transparent;
    background: transparent;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .navbar-default {
      margin-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  

 /* Contact form */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    background: #8e44ad;
    align-items: center;
    justify-content: center;
  }
  ::selection{
    color: #fff;
    background: #8e44ad;
  }
  .wrapper{
    width: 715px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  }
  .wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
  }
  .wrapper form{
    margin: 35px 30px;
  }
  .wrapper form.disabled{
    pointer-events: none;
    opacity: 0.7;
  }
  form .dbl-field{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
  }
  .dbl-field .field{
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
  }
  .wrapper form i{
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  form .field input,
  form .message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .field input::placeholder,
  .message textarea::placeholder{
    color: #ccc;
  }
  .field input:focus,
  .message textarea:focus{
    padding-left: 47px;
    border: 2px solid #8e44ad;
  }
  .field input:focus ~ i,
  .message textarea:focus ~ i{
    color: #8e44ad;
  }
  form .message{
    position: relative;
  }
  form .message i{
    top: 30px;
    font-size: 20px;
  }
  form .message textarea{
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar{
    width: 0px;
  }
  .message textarea:focus{
    padding-top: 14px;
  }
  form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
  }
  .button-area button{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #8e44ad;
    transition: background 0.3s ease;
  }
  .button-area button:hover{
    background: #8e44ad;
  }
  .button-area span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
  }
  @media (max-width: 600px){
    .wrapper header{
      text-align: center;
    }
    .wrapper form{
      margin: 35px 20px;
    }
    form .dbl-field{
      flex-direction: column;
      margin-bottom: 0px;
    }
    form .dbl-field .field{
      width: 100%;
      height: 45px;
      margin-bottom: 20px;
    }
    form .message textarea{
      resize: none;
    }
    form .button-area{
      margin-top: 20px;
      flex-direction: column;
    }
    .button-area button{
      width: 100%;
      padding: 11px 0;
      font-size: 16px;
    }
    .button-area span{
      margin: 20px 0 0;
      text-align: center;
    }
  }